.page-footer {
  min-height: 260px;
  padding: 0 20px;
  .outline ();
  &--index {
    min-height: 615px;
  }
  &__map {
    background-image: url("../../img/bg-map.png");
    min-height: 200px;
  }
  &__item--index {
    display: none;
  }
  &__item {
    text-align: center;
  }
}

@media @tablet-widths {
  .page-footer {
    min-height: 120px;
    &__item {
      float: left;
      width: 180px;
    }
    &--index {
      min-height: 910px;
    }
    &__wrapper {
      .container ();
      .clearfix ();
    }
    &__map {
      min-height: 380px;
    }
    &__item--index {
      display: block;
    }
  }
}

@media @desktop-widths {
  .page-footer {
    min-height: 170px;
    &--index {
      min-height: 1070px;
    }
    &__item {
      width: 300px;
    }
    &__map {
      min-height: 520px;
    }
  }
}