.social-links {
  display: inline-block;
  vertical-align: inherit;
  width: 50px;
  height: 50px;
  &__link--twitter {
    background: url("../../img/icon-twitter.svg") no-repeat center;
  }
  &__link--facebook{
    background: url("../../img/icon-facebook.svg") no-repeat center;
  }
  &__link--youtube {
    background: url("../../img/icon-youtube.svg") no-repeat center;
  }
  &__developer-link {
    background: url("../../img/logo-htmlacademy.svg") no-repeat center;
  }
}

@media @tablet-widths {

}